<html>
<head>
<title>Add a Vehicle </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<!-- <form action="/add" method="post">
    {% csrf_token %}
    Make : <input type="text" name="make" required><br><br>
    Model : <input type="text" name="model" required><br><br>
    Image Url: <input type="text" name="imageurl" required><br><br>
    Mileage : <input type="number" name="mileage" step="0.01" required><br><br>
    Damage : <input type="text" name="damage" required><br><br>
    Seats : <input type="number" min="0" name="seats" required><br><br>
    Cost : <input type="number" min="0" name="cost" required><br><br>
    <input type="submit" name="added" value="Add" required>
</form>
<a href="/">View all Vehicles<a> -->

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Add a New Vehicle</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/add" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="make" placeholder="make" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="model" placeholder="model" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="imageurl" placeholder="imageurl" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="mileage" step="0.01" placeholder="mileage" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="damage" placeholder="damage" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" min="0" name="seats" placeholder="seats" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" min="0" name="cost" placeholder="cost" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
                <a href="/">View all Vehicles<a></a>
            </div>
        </div>
    </div>
    
</body>

</html>

