{% extends 'base.html' %}

{% block title %}Vehicles{% endblock title %}

{% block body %}


<div class="container">	
  <header class="jumbotron">
    <div>
        <h1>
            Welcome To RideShare!
        </h1>
        <p>
            Unbeatable Rates. Easy & Quick Online Booking. Clean & Well Maintained Fleet.
        </p>
      </div>
  </header>
  <div class="container my-3">
    <div class="row">
      {% for vehicle in vehicle_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src=" {{vehicle.imageurl }}"  style="width:550px;height:200px;" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">{{ vehicle.make }} {{ vehicle.model }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                
                <div class="btn-group">
                  <a href="{% url 'management:detail' vehicle.vehicleID %}" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
    
</div>

{% endblock body %}