{% extends 'base.html' %}

{% block title %}Rental Schemes{% endblock title %}

{% block body %}

<div class="container"><div class="row"><div class="col-sm">
  <div class="card" style="width: 18rem; margin: 0 auto; float: none; margin-top: 20px; margin-bottom: 20px;">
    <a href=""><img src="https://i.ibb.co/DkPZh62/Elite-Horizon-Shopping-Center.png" height="400px"></a>
  </div></div>
  <div class="col-sm">
  <div class="card" style="width: 18rem; margin: 0 auto; float: none; margin-top: 20px; margin-bottom: 20px;">
    <a href=""><img src="https://i.ibb.co/YpGBf3J/2.png" height="400px"></a>
  </div></div>
</div></div>

{% endblock body %}
